body{
    text-align: center;
    background-color: #8BBCBC;
}

#homeButton {
    background-color: #6a9292;
    border-radius: 50%;
    position: absolute;
    top: 3%;
    left: 2%;
    font-size: 50px;
  }

#plusButton {
    background-color: #6a9292;
    border-radius: 50%;
    position: absolute;
    top: 13%;
    left: 2%;
    font-size: 50px;
  }

#settingButton {
    background-color: #6a9292;
    border-radius: 50%;
    position: absolute;
    top: 23%;
    left: 2%;
    font-size: 50px;
}

#profilePicture {
    position: absolute;
    top: 10%;
    left: 25%;
    height: 200px;
    width: 250px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

#userName{
    position: absolute;
    left: 32%;
    top: 38%;
}

#greyCircle {
    position: absolute;
    top: 10%;
    left: 50%;
    height: 250px;
    width: 300px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

/*Fashion description input field*/
#fashionDescriptionInputField {
    position: absolute;
    top: 50%;
    left: 47%;
    text-align: left;
}

#fashionDes {
    background-color: #bbb;
    padding: 50px 100px;
}