body{
    text-align: center;
    background-color: #8BBCBC;
}

#profilePicture {
    position: absolute;
    top: 10%;
    left: 10%;
    height: 200px;
    width: 250px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

#userName{
    position: absolute;
    left: 20%;
    top: 30%;
}

#greyCircle {
    position: absolute;
    top: 10%;
    left: 40%;
    height: 250px;
    width: 300px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

/*Fashion description input field*/
#fashionDescriptionInputField {
    position: absolute;
    top: 50%;
    left: 37%;
    text-align: left;
}

#fashionDes {
    background-color: #bbb;
    padding: 50px 100px;
}