body{
    text-align: center;
    background-color: #8BBCBC;
}

#homeButton {
    position: absolute;
    top: 3%;
    left: 2%;
    font-size: 50px;
  }

a #plusButton {
    position: absolute;
    top: 5%;
    left: 2%;
    font-size: 100px;
  }

#greyCircle {
    position: absolute;
    top:10%;
    left: 20%;
    height: 250px;
    width: 300px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

/*Username input field*/  
#usernameInputField {
    position: absolute;
    top: 45%;
    left: 24%;
    text-align: left;
}

#username {
    background-color: #bbb;
}

/*First name input field*/
#firstNameInputField {
    position: absolute;
    top: 15%;
    left: 40%;
    text-align: left;
}

#firstName {
    background-color: #bbb;
}

/*Length input field*/
#lengthInputField {
    position: absolute;
    top: 23%;
    left: 40%;
    text-align: left;
}

#length {
    background-color: #bbb;
}

/*Age input field*/
#ageInputField {
    position: absolute;
    top: 15%;
    left: 50%;
    text-align: left;
}

#age {
    background-color: #bbb;
}

/*Shoe size input field*/
#shoeSizeInputField {
    position: absolute;
    top: 23%;
    left: 50%;
    text-align: left;
}

#shoeSize {
    background-color: #bbb;
}

/*Fashion description input field*/
#fashionDescriptionInputField {
    position: absolute;
    top: 35%;
    left: 40%;
    text-align: left;
}

#fashionDes {
    background-color: #bbb;
    padding: 50px 100px;
}